<% layout('layout') -%>

<div class="container product-container" style="padding-top:15px;">

  <div class="row">

    <% if(product) { %>

    <div class="col-md-4">
        <!-- <a href="/product/<%= product._id %>"> -->
          <div class="thumbnail product-image">
            <img src="<%= product.image %>">
            <div class="caption">
              <div class="row row-cart">
                <div class="col-md-6">
                  <h3><%= product.name %></h3>
                  <p><%= product.category.name %></p>
                  <p>$<%= product.price %></p>
                </div>
                <div class="col-md-6 text-right">
                  <p>
                    <button type="button" id="<%= product.id %> | <%= product.name %> | <%= product.category.name %> | <%= product.image %> | $<%= product.price %>" class="btn btn-primary btn-product">
                      Buy Now
                    </button>
                  </p>
                </div>
            </div>
          </div>
        <!-- </a> -->
    </div>
    <% } %>
  </div>
</div>